* {
    font-family: "American Typewriter", sans-serif;
}
.dropright:hover .dropdown-menu{
    display: block;
    position: absolute;
    transform: translate3d(260px, 0px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}
.container {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(158,158,158,1);
}
.dropdown-item:hover {
    background-color: #005cbf;
    color: white;
}
.head-title {
    font-family: "Apple Chancery";
}
header {
    border-bottom: 3px double floralwhite;
}
aside {
    border-right: 6px dotted whitesmoke;
}
.page-link {
    font-size: 44px;
}
.first {
    border-right: 3px dashed gray;
}

.consigne {
    color: black;
    background-color: antiquewhite;
    font-weight: bold!important;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
}
.tab-pane {
    font-size: 14px;
}
t{
    font-size: 18px;
    font-family: "Apple Braille";
    margin-left: 15px;
}
tt{
    font-family: "Apple Braille";
    font-size: 18px;
    margin-left: 30px;
}
ttt {
    font-family: "Apple Braille";
    font-size: 18px;
    margin-left: 40px;
}
p {

    font-size: 18px;
    font-family: "Apple Braille";
}
.tab-pane {
    font-size: 18px;
    font-family: "Apple Braille";
}
.nav-link {
    color: whitesmoke;
}
.nav-link:hover {
    color: papayawhip;
    background-color: darkblue;
}
g{
    color: green!important;
    font-weight: normal;
}
b{
    color: blue!important;
    font-weight: normal;
}
r{
    color: red!important;
    font-weight: normal;
}
